@model BTL_Web.Models.LopHoc

@{
	ViewData["Title"] = "Chi tiet lop hoc";
}

<h1>Chi tiet lop hoc</h1>

<dl class="row">
	<dt class="col-sm-3">Ma lop</dt>
	<dd class="col-sm-9">@Model.MaLop</dd>

	<dt class="col-sm-3">Ten lop</dt>
	<dd class="col-sm-9">@Model.TenLop</dd>

	<dt class="col-sm-3">Giao vien</dt>
	<dd class="col-sm-9">@Model.MaGvNavigation?.Ten (@Model.MaGv)</dd>

	<dt class="col-sm-3">Khoa hoc</dt>
	<dd class="col-sm-9">@Model.MaKhoaHocNavigation?.TenKhoaHoc (@Model.MaKhoaHoc)</dd>

	<dt class="col-sm-3">Phong hoc</dt>
	<dd class="col-sm-9">@Model.MaPhong</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.MaLop" class="btn btn-primary">Sua</a>
<a asp-action="Index" class="btn btn-secondary">Quay lai</a>
