@model IEnumerable<BTL_Web.Models.LopHoc>

@{
    ViewData["Title"] = "Lop hoc";
}

<h1>Lop hoc</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Them lop hoc</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Ma lop</th>
        <th>Ten lop</th>
        <th>Giao vien</th>
        <th>Khoa hoc</th>
        <th>Phong hoc</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaLop</td>
            <td>@item.TenLop</td>
            <td>@item.MaGvNavigation?.Ten</td>
            <td>@item.MaKhoaHocNavigation?.TenKhoaHoc</td>
            <td>@item.MaPhong</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MaLop">Chi tiet</a> |
                <a asp-action="Edit" asp-route-id="@item.MaLop">Sua</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLop">Xoa</a>
            </td>
        </tr>
    }
    </tbody>
</table>

