@model IEnumerable<BTL_Web.Models.LopHoc>

@{
    ViewData["Title"] = "Lop hoc";
}

<h1>Lớp học</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm lớp học</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Mã lớp</th>
        <th>Tên lớp</th>
        <th>Giáo viên</th>
        <th>Khóa học</th>
        <th>Phòng học</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaLop</td>
            <td>@item.TenLop</td>
            <td>@item.MaGvNavigation?.Ten</td>
            <td>@item.MaKhoaHocNavigation?.TenKhoaHoc</td>
            <td>@item.MaPhong</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MaLop">Chi tiết</a> |
                <a asp-action="Edit" asp-route-id="@item.MaLop">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLop">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>

